@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'PT Sans', sans-serif; */
}

body {
    background: #232323;
}

.container {
    padding:20px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 15px;
    border-radius: 0.3125rem;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    outline: 0;
    margin-top: 20px;
}

.primario {
    color: #fff;
    background-color: #457b9d ;
    border-color: #457b9d;
}

.primario:focus {
    box-shadow: 0 0 0 0.2rem #1d3557;
}

.segundario {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.segundario:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}


h1,h2,h3 {
    font-family: 'PT sans', sans-serif;
    color: white;
}

li {
    font-family: 'poppins' , sans-serif;
    background-color: #8d99ae;
    margin-bottom: 0.125rem;
    padding: 0.625rem;
    list-style: none;
    color: white;
}
.lista {
    margin-top: 20px;
}

.apiContainer img {
    width: 100%;
}

.apiContainer button {
    width: 100%;
}

.cajaIMG {
    max-height: 350px;
}




